<div class="timesheet-container">
  <div class="header-container">
    <app-header (calendarIconSelected)=onSelectedDate($event) [selectedDay]="selectedDay"></app-header>
  </div>
  <div class="days-container">
    <div *ngFor="let dayReport of weekReports">
      <app-day [day]="dayReport.date" [minutesWorked]="dayReport.minutesWorked"
        [dayStatus]="dayReport.status" [selectedTimesheetDay]="selectedDay"
        (daySelected)=onSelectedDate($event)></app-day>
    </div>
  </div>
  <div>
    <span>{{selectedDay | date: 'EEEE'}} {{selectedDay | date: 'dd.MM.yyyy'}}</span>
    <button mat-button color="primary" class="timesheet-button">GO TO TIMESHEET</button>
  </div>
  <div class="tasks-container">
    <app-task-group icon="timelapse" title="Hours" taskAmountName="Duration"
    [workTasks]="workHourTasks" [taskGroupType]="workTaskTypes.WorkHours" [workStart]="workDayStart" [workEnd]="workDayEnd"></app-task-group>
    <app-task-group icon="attach_money" title="Expenses" taskAmountName="Total" taskQuantityName="Quantity"
    [workTasks]="expensesTasks" [taskGroupType]="workTaskTypes.Expenses"></app-task-group>
    <app-task-group icon="timelapse" title="Additional hours" taskAmountName="Amount"
    [workTasks]="additionalHourTasks" [taskGroupType]="workTaskTypes.AdditionalHours"></app-task-group>
  </div>
  <div>
    <button mat-raised-button color="primary" class="add-task-button" routerLink="/add-task">ADD TASK</button>
  </div>
</div>
