@import '../../../styles.less';

.timesheet-container {
  overflow: hidden;
  padding: 15px;
  margin: 0 auto;
}

.timesheet-container, .timesheet-container > div {
  width: 322px;
  background-color: white;
}

.days-container {
  height: 110px;
  border-bottom: 2px solid @mw-gray;
}

.header-container {
  margin-bottom: 15px;
}

.selected-day-container {
  display: block;
}

.timesheet-button {
  float: right;
}

.add-task-button {
  width: 100%;
}

.tasks-container {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 36px;
}
