<div class="timesheet-container">
  <!-- <app-header (todaySelected)=onSelectedDate($event) [selectedDay]="selectedDay"></app-header>
  <div class="days-container">
    <div *ngFor="let dayReport of weekReports">
      <app-day [day]="dayReport.date" [minutesWorked]="dayReport.minutesWorked"
        [dayStatus]="dayReport.status" [selectedTimesheetDay]="selectedDay"
        (daySelected)=onSelectedDate($event)></app-day>
    </div>
  </div> -->
  <app-task-group icon="timelapse" title="Hours" taskInformation="Test"></app-task-group>
</div>
