@import '../../../../styles.less';

.group-header {
  display: flex;
  align-items: center;
  background-color: @mw-gray;
  height: 40px;

  .header-info {
    margin-left: auto;
  }
}

.group-tasks {
  margin-top: 10px;
  display: flex;
}
