@import '../../../../styles.less';

.group-container {
  display: inline-block;
  width: 280px;
}

.group-header {
  display: flex;
  align-items: center;
  background-color: @mw-gray;
  height: 40px;

  .header-info {
    margin-left: auto;
  }
}

.gray-font {
  color: @mw-gray-font;
}
