<div class="day-container" (click)="selectDay()">
  <p [class.weekend-font]="calendarService.isWeekend(day)" class="small-font">{{day | date: 'EEE'}}</p>
  <p [class.today-border]="calendarService.isToday(day)"
    [class.selected-timesheet-day]="calendarService.isSameDay(day, selectedTimesheetDay)"
    class="month-day-number">{{day.getDate()}}</p>
  <p class="small-font">{{minutesWorked | hoursWorked}}</p>
  <p class="dot-container"><span [appDayStatus]="dayStatus" class="dot"></span></p>
</div>
