@import '../../../../styles.less';

@day-top-bottom-margin: 8px;

.day-container {
  width: 46px;
  float: left;
  text-align: center;
  cursor: pointer;

  >* {
    margin-top: @day-top-bottom-margin;
    margin-bottom: @day-top-bottom-margin;
  }

  .dot-container {
    margin-top: -10px;
  }
}

.month-day-number {
  margin-right: 7px;
  margin-left: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.month-day-number:not(.today-border) {
  margin-top: @day-top-bottom-margin + 1;
  margin-bottom: @day-top-bottom-margin + 1;
}

.today-border {
  border: 1px solid @mw-orange;
}

.selected-timesheet-day {
  background-color: @mw-orange;
  color: white;
}

.weekend-font {
  color: @mw-gray-font;
}

.dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: inline-block;
}
